<a href="https://colab.research.google.com/github/Pedrolustosa/Exercicios_Pandas/blob/main/Exercicios_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Instalação do Pandas

In [ ]:
# Alternativa 1
!pip install pandas # alternative: conda install pandas

### Introduzindo Séries de Dados do Pandas

1 - Importe as bibliotecas pandas e numpy com os aliases 'pd' e 'np', respectivamente.

2 - Utilize o numpy para criar um array com 10 elementos de números inteiros aleatórios entre 50 e 100. Em seguida, transforme-o em uma série do pandas e a exiba.

In [ ]:
# Insira a resposta abaixo.

3 - Utilize a função range do Python para criar uma série do Pandas contendo 10 elementos cujos índices sejam uma sequência ascendente de números ímpares  e os valores sejam uma sequência descendente de números inteiros de 10 a 1. Em seguida, converta o tipo numérico da série criada para 'int32' e exiba a série.

In [ ]:
# Insira a resposta abaixo.

4 - Abaixo são definidos dois dicionários contendo capitais brasileiras com a população estimada para os anos de 2000 e 2018. Utilize ambos os dicionários definidos abaixos para criar dois objetos do tipo Series.

In [ ]:
populacao2000 = {'São Paulo': 10405867, 'Rio de Janeiro': 5851914, 'Salvador': 2440828, 'Belo Horizonte':2232747, 'Fortaleza':2138234	}
populacao2018 = {'São Paulo': 12176866, 'Rio de Janeiro': 6688927, 'Brasília': 2974703, 'Salvador': 2857329, 'Fortaleza': 2643247}

# Insira a resposta abaixo.

#### Operações Aritméticas com Séries

5 - Crie uma nova série contendo a diferença entre as populações de 2018 e 2010.

In [ ]:
# Insira a resposta abaixo.

6 - Crie uma nova série contendo a média entre as duas séries iniciais.

In [ ]:
# Insira a resposta abaixo.

### Introduzindo Dataframes

7 - Crie um dicionário cujas chaves sejam: 2000, 2018, 'diferenca', 'media'. Utilize como valores as séries correspondentes criadas nas questões anteriores. Utilize esse dicionário para criar um dataframe.

In [ ]:
# Insira a resposta abaixo.

8 - Desta vez, crie um dataframe equivalente ao criado na questão anterior concatenando as quatro séries (referentes a 2000, 2018, diferença e média). Lembre-se de inserir os mesmos títulos para as colunas.

In [ ]:
# Inserir a resposta abaixo.

9 - Adicione uma nova coluna ao dataframe anterior chamada 2019, esta deve conter um acréscimo de 50000 sobre os valores da coluna 2018.

In [ ]:
# Insira a resposta abaixo.

10 - Exiba somente os dados referentes a Salvador.

In [ ]:
# Insira a resposta abaixo.

11 - Exiba ** a terceira linha** do dataframe utilizando o seu posicionamento no dataframe.

In [ ]:
# Insira a resposta abaixo.

12 - Exiba as **três primeiras linhas** do dataframe a partir da posição.

In [ ]:
# Insira a resposta abaixo.

13 - Remova a coluna 2019 criada anteriormente.

In [ ]:
# Insira a resposta abaixo.

14 - Remova os registros que apresentam valores nulos.

In [ ]:
# Insira a resposta abaixo.

### Exercícios com base de dados fictícia (toy dataset)

Execute o bloco de código abaixo para realizar o download de uma pequena base de dados que será utilizada para os próximos experimentos. A base de dados poderá ser acessada através do arquivo toy_dataset.csv. Caso a sessão se encerre, re-execute essa célula de código.

In [ ]:
!pip install -q kaggle
import os
os.environ['KAGGLE_USERNAME'] = "victorlundgren"
os.environ['KAGGLE_KEY'] = "851b67a8b7e626eb6336620bf1cb0d31"

!kaggle datasets download -d carlolepelaars/toy-dataset
!unzip toy-dataset.zip # OU tar -xy no Windows10

15 - Execute a leitura do Toy Dataset diretamente em um dataframe.

In [ ]:
# Insira a resposta abaixo.

16 - Exiba o tipo de dados de cada coluna do dataframe.

In [ ]:
# Insira a resposta abaixo.

17 - Utilize a função .head() para exibir o cabeçalho do dataframe e assim conhecer as colunas, o índice e as linhas iniciais da base de dados.

In [ ]:
# Insira a resposta abaixo.

18 - Realize as seguintes operações:

- Adicione uma nova coluna chamada NumberAge e que apresente a soma entre os valores da coluna Number com os valores da coluna Age.
- Exiba o cabeçalho do dataframe resultante.
- Remova a coluna NumberAge.
- Exiba o cabeçalho do dataframe resultante.

In [ ]:
# Insira a resposta abaixo.

19 - Realize as seguintes operações a partir do dataframe definido anteriormente:

- Exiba as cinco primeiras linhas do dataframe, todos os atributos devem ser apresentados com exceção do primeiro e último.

- Exiba as cinco últimas linhas do dataframe, exiba somente o atributo City.

In [ ]:
# Insira a resposta abaixo.

20 - Ordene de forma ascendente as amostras utilizando como critério o salário anual. Em seguida, resete os índices dos registros.

In [ ]:
# Insira a resposta abaixo.

**21 - Defina a coluna 'Number' como o índice do dataframe. Em seguida, exiba do segundo até o quinto registro a partir do posicionamento.**

In [ ]:
# Insira a resposta abaixo.

22 - Desta vez, exiba os registros com Number variando de 2 até 5 a partir do próprio rótulo Number.

In [ ]:
# Insira a resposta abaixo.

23 - Qual a cidade e o gênero da pessoa com a maior renda (Income)?

In [ ]:
# Insira a resposta abaixo.

24 - Quantas pessoas moram na cidade de Dallas?

In [ ]:
# Insira a resposta abaixo.

25 - Qual a idade média das pessoas que estão doentes? Utilize o atributo Illness para obter essa informação.

In [ ]:
# Insira a resposta abaixo.

26 - Quantas pessoas tem um salário anual maior que R$ 30000?

In [ ]:
# Insira a resposta abaixo.

27 - Quantas pessoas estão doentes?

In [ ]:
# Insira a resposta abaixo.

28 - Quantas pessoas estão doente e apresentam renda (Income) menor que 35000 ou maior que 50000?

In [ ]:
# Insira a resposta abaixo.

29 - Mostre os registros que apresentam a menor idade encontrada e uma renda entre 40000 e 42000.

In [ ]:
# Insira a resposta abaixo.

30 - Mostre os registros referentes a cidade de Dallas que apresentam a maior idade e que estão doentes.

In [ ]:
# Insira a resposta abaixo.