<a href="https://colab.research.google.com/github/Pedrolustosa/Exercicios_Pandas/blob/main/Exercicios_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Instalação do Pandas

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Introduzindo Séries de Dados do Pandas

1 - Importe as bibliotecas pandas e numpy com os aliases 'pd' e 'np', respectivamente.

In [3]:
import pandas as pd
import numpy as np

2 - Utilize o numpy para criar um array com 10 elementos de números inteiros aleatórios entre 50 e 100. Em seguida, transforme-o em uma série do pandas e a exiba.

In [4]:
array_aleatorio = np.random.randint(50, 101, size=10)
serie = pd.Series(array_aleatorio)
print(serie)

0    93
1    58
2    89
3    67
4    56
5    83
6    62
7    61
8    76
9    61
dtype: int64

3 - Utilize a função range do Python para criar uma série do Pandas contendo 10 elementos cujos índices sejam uma sequência ascendente de números ímpares  e os valores sejam uma sequência descendente de números inteiros de 10 a 1. Em seguida, converta o tipo numérico da série criada para 'int32' e exiba a série.

In [5]:
indices = list(range(1, 20, 2))
valores = list(range(10, 0, -1))
serie = pd.Series(valores, index=indices)
serie = serie.astype('int32')
print(serie)

1     10
3      9
5      8
7      7
9      6
11     5
13     4
15     3
17     2
19     1
dtype: int32

4 - Abaixo são definidos dois dicionários contendo capitais brasileiras com a população estimada para os anos de 2000 e 2018. Utilize ambos os dicionários definidos abaixos para criar dois objetos do tipo Series.

In [7]:
populacao2000 = {'São Paulo': 10405867, 'Rio de Janeiro': 5851914, 'Salvador': 2440828, 'Belo Horizonte':2232747, 'Fortaleza':2138234	}
populacao2018 = {'São Paulo': 12176866, 'Rio de Janeiro': 6688927, 'Brasília': 2974703, 'Salvador': 2857329, 'Fortaleza': 2643247}

serie_2000 = pd.Series(populacao2000)
serie_2018 = pd.Series(populacao2018)

print("População em 2000:")
print(serie_2000)
print("\nPopulação em 2018:")
print(serie_2018)

População em 2000:
São Paulo         10405867
Rio de Janeiro     5851914
Salvador           2440828
Belo Horizonte     2232747
Fortaleza          2138234
dtype: int64

População em 2018:
São Paulo         12176866
Rio de Janeiro     6688927
Brasília           2974703
Salvador           2857329
Fortaleza          2643247
dtype: int64

#### Operações Aritméticas com Séries

5 - Crie uma nova série contendo a diferença entre as populações de 2018 e 2010.

In [8]:
serie_2000 = pd.Series(populacao2000)
serie_2018 = pd.Series(populacao2018)
diferenca_populacao = serie_2018 - serie_2000
print("Diferença de população entre 2018 e 2000:")
print(diferenca_populacao)

Diferença de população entre 2018 e 2000:
Belo Horizonte          NaN
Brasília                NaN
Fortaleza          505013.0
Rio de Janeiro     837013.0
Salvador           416501.0
São Paulo         1770999.0
dtype: float64

6 - Crie uma nova série contendo a média entre as duas séries iniciais.

In [9]:
serie_2000 = pd.Series(populacao2000)
serie_2018 = pd.Series(populacao2018)
media_populacao = (serie_2000 + serie_2018) / 2
print("Média de população entre 2000 e 2018:")
print(media_populacao)

Média de população entre 2000 e 2018:
Belo Horizonte           NaN
Brasília                 NaN
Fortaleza          2390740.5
Rio de Janeiro     6270420.5
Salvador           2649078.5
São Paulo         11291366.5
dtype: float64

### Introduzindo Dataframes

7 - Crie um dicionário cujas chaves sejam: 2000, 2018, 'diferenca', 'media'. Utilize como valores as séries correspondentes criadas nas questões anteriores. Utilize esse dicionário para criar um dataframe.

In [10]:
populacao2000_series = pd.Series(populacao2000)
populacao2018_series = pd.Series(populacao2018)
diferenca_series = populacao2018_series - populacao2000_series
media_series = (populacao2000_series + populacao2018_series) / 2
dados = {
    'populacao2000': populacao2000_series,
    'populacao2018': populacao2018_series,
    'diferenca': diferenca_series,
    'media': media_series
}
df = pd.DataFrame(dados)
print("DataFrame com as populações, diferença e média:")
print(df)

DataFrame com as populações, diferença e média:
                populacao2000  populacao2018  diferenca       media
Belo Horizonte      2232747.0            NaN        NaN         NaN
Brasília                  NaN      2974703.0        NaN         NaN
Fortaleza           2138234.0      2643247.0   505013.0   2390740.5
Rio de Janeiro      5851914.0      6688927.0   837013.0   6270420.5
Salvador            2440828.0      2857329.0   416501.0   2649078.5
São Paulo          10405867.0     12176866.0  1770999.0  11291366.5

8 - Desta vez, crie um dataframe equivalente ao criado na questão anterior concatenando as quatro séries (referentes a 2000, 2018, diferença e média). Lembre-se de inserir os mesmos títulos para as colunas.

In [11]:
populacao2000_series = pd.Series(populacao2000, name='populacao2000')
populacao2018_series = pd.Series(populacao2018, name='populacao2018')
diferenca_series = populacao2018_series - populacao2000_series
diferenca_series.name = 'diferenca'
media_series = (populacao2000_series + populacao2018_series) / 2
media_series.name = 'media'
df = pd.concat([populacao2000_series, populacao2018_series, diferenca_series, media_series], axis=1)
print("DataFrame concatenado com as populações, diferença e média:")
print(df)

DataFrame concatenado com as populações, diferença e média:
                populacao2000  populacao2018  diferenca       media
São Paulo          10405867.0     12176866.0  1770999.0  11291366.5
Rio de Janeiro      5851914.0      6688927.0   837013.0   6270420.5
Salvador            2440828.0      2857329.0   416501.0   2649078.5
Belo Horizonte      2232747.0            NaN        NaN         NaN
Fortaleza           2138234.0      2643247.0   505013.0   2390740.5
Brasília                  NaN      2974703.0        NaN         NaN

9 - Adicione uma nova coluna ao dataframe anterior chamada 2019, esta deve conter um acréscimo de 50000 sobre os valores da coluna 2018.

In [14]:
df['2019'] = df['populacao2018'] + 50000
print("DataFrame com as populações, diferença, média e coluna 2019:")
print(df)

DataFrame com as populações, diferença, média e coluna 2019:
                populacao2000  populacao2018  diferenca       media  \
São Paulo          10405867.0     12176866.0  1770999.0  11291366.5
Rio de Janeiro      5851914.0      6688927.0   837013.0   6270420.5
Salvador            2440828.0      2857329.0   416501.0   2649078.5
Belo Horizonte      2232747.0            NaN        NaN         NaN
Fortaleza           2138234.0      2643247.0   505013.0   2390740.5
Brasília                  NaN      2974703.0        NaN         NaN

                      2019
São Paulo       12226866.0
Rio de Janeiro   6738927.0
Salvador         2907329.0
Belo Horizonte         NaN
Fortaleza        2693247.0
Brasília         3024703.0

10 - Exiba somente os dados referentes a Salvador.

In [15]:
dados_salvador = df.loc['Salvador']
print("Dados referentes a Salvador:")
print(dados_salvador)

Dados referentes a Salvador:
populacao2000    2440828.0
populacao2018    2857329.0
diferenca         416501.0
media            2649078.5
2019             2907329.0
Name: Salvador, dtype: float64

11 - Exiba ** a terceira linha** do dataframe utilizando o seu posicionamento no dataframe.

In [16]:
terceira_linha = df.iloc[2]
print("Terceira linha do DataFrame (posicionamento numérico):")
print(terceira_linha)

Terceira linha do DataFrame (posicionamento numérico):
populacao2000    2440828.0
populacao2018    2857329.0
diferenca         416501.0
media            2649078.5
2019             2907329.0
Name: Salvador, dtype: float64

12 - Exiba as **três primeiras linhas** do dataframe a partir da posição.

In [17]:
tres_primeiras_linhas = df.iloc[:3]
print("Três primeiras linhas do DataFrame a partir da posição:")
print(tres_primeiras_linhas)

Três primeiras linhas do DataFrame a partir da posição:
                populacao2000  populacao2018  diferenca       media  \
São Paulo          10405867.0     12176866.0  1770999.0  11291366.5
Rio de Janeiro      5851914.0      6688927.0   837013.0   6270420.5
Salvador            2440828.0      2857329.0   416501.0   2649078.5

                      2019
São Paulo       12226866.0
Rio de Janeiro   6738927.0
Salvador         2907329.0

13 - Remova a coluna 2019 criada anteriormente.

In [18]:
df = df.drop(columns=['2019'])
print(df)

                populacao2000  populacao2018  diferenca       media
São Paulo          10405867.0     12176866.0  1770999.0  11291366.5
Rio de Janeiro      5851914.0      6688927.0   837013.0   6270420.5
Salvador            2440828.0      2857329.0   416501.0   2649078.5
Belo Horizonte      2232747.0            NaN        NaN         NaN
Fortaleza           2138234.0      2643247.0   505013.0   2390740.5
Brasília                  NaN      2974703.0        NaN         NaN

14 - Remova os registros que apresentam valores nulos.

In [19]:
df = df.dropna()
print(df)

                populacao2000  populacao2018  diferenca       media
São Paulo          10405867.0     12176866.0  1770999.0  11291366.5
Rio de Janeiro      5851914.0      6688927.0   837013.0   6270420.5
Salvador            2440828.0      2857329.0   416501.0   2649078.5
Fortaleza           2138234.0      2643247.0   505013.0   2390740.5

### Exercícios com base de dados fictícia (toy dataset)

Execute o bloco de código abaixo para realizar o download de uma pequena base de dados que será utilizada para os próximos experimentos. A base de dados poderá ser acessada através do arquivo toy_dataset.csv. Caso a sessão se encerre, re-execute essa célula de código.

In [20]:
!pip install -q kaggle
import os
os.environ['KAGGLE_USERNAME'] = "victorlundgren"
os.environ['KAGGLE_KEY'] = "851b67a8b7e626eb6336620bf1cb0d31"

!kaggle datasets download -d carlolepelaars/toy-dataset
!unzip toy-dataset.zip

Dataset URL: https://www.kaggle.com/datasets/carlolepelaars/toy-dataset
License(s): CC0-1.0
Downloading toy-dataset.zip to /content
  0% 0.00/1.13M [00:00<?, ?B/s]
100% 1.13M/1.13M [00:00<00:00, 53.3MB/s]
Archive:  toy-dataset.zip
  inflating: toy_dataset.csv

15 - Execute a leitura do Toy Dataset diretamente em um dataframe.

In [21]:
df = pd.read_csv('toy_dataset.csv')
print("Primeiras linhas do DataFrame:")
print(df.head())

Primeiras linhas do DataFrame:
   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

16 - Exiba o tipo de dados de cada coluna do dataframe.

In [22]:
print("Tipos de dados de cada coluna:")
print(df.dtypes)

Tipos de dados de cada coluna:
Number       int64
City        object
Gender      object
Age          int64
Income     float64
Illness     object
dtype: object

17 - Utilize a função .head() para exibir o cabeçalho do dataframe e assim conhecer as colunas, o índice e as linhas iniciais da base de dados.

In [23]:
print(df.head())

   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

18 - Realize as seguintes operações:

- Adicione uma nova coluna chamada NumberAge e que apresente a soma entre os valores da coluna Number com os valores da coluna Age.
- Exiba o cabeçalho do dataframe resultante.
- Remova a coluna NumberAge.
- Exiba o cabeçalho do dataframe resultante.

In [24]:
df['NumberAge'] = df['Number'] + df['Age']
print("Cabeçalho do DataFrame após adicionar a coluna NumberAge:")
print(df.head())
df = df.drop(columns=['NumberAge'])
print("\nCabeçalho do DataFrame após remover a coluna NumberAge:")
print(df.head())

Cabeçalho do DataFrame após adicionar a coluna NumberAge:
   Number    City Gender  Age   Income Illness  NumberAge
0       1  Dallas   Male   41  40367.0      No         42
1       2  Dallas   Male   54  45084.0      No         56
2       3  Dallas   Male   42  52483.0      No         45
3       4  Dallas   Male   40  40941.0      No         44
4       5  Dallas   Male   46  50289.0      No         51

Cabeçalho do DataFrame após remover a coluna NumberAge:
   Number    City Gender  Age   Income Illness
0       1  Dallas   Male   41  40367.0      No
1       2  Dallas   Male   54  45084.0      No
2       3  Dallas   Male   42  52483.0      No
3       4  Dallas   Male   40  40941.0      No
4       5  Dallas   Male   46  50289.0      No

19 - Realize as seguintes operações a partir do dataframe definido anteriormente:

- Exiba as cinco primeiras linhas do dataframe, todos os atributos devem ser apresentados com exceção do primeiro e último.

- Exiba as cinco últimas linhas do dataframe, exiba somente o atributo City.

In [25]:
print("Cinco primeiras linhas do dataframe sem o primeiro e último atributo:")
print(df.iloc[:5, 1:-1])
print("\nCinco últimas linhas do dataframe mostrando somente o atributo City:")
print(df['City'].tail())

Cinco primeiras linhas do dataframe sem o primeiro e último atributo:
     City Gender  Age   Income
0  Dallas   Male   41  40367.0
1  Dallas   Male   54  45084.0
2  Dallas   Male   42  52483.0
3  Dallas   Male   40  40941.0
4  Dallas   Male   46  50289.0

Cinco últimas linhas do dataframe mostrando somente o atributo City:
149995    Austin
149996    Austin
149997    Austin
149998    Austin
149999    Austin
Name: City, dtype: object

20 - Ordene de forma ascendente as amostras utilizando como critério o salário anual. Em seguida, resete os índices dos registros.

In [28]:
print("Colunas disponíveis no DataFrame:")
print(df.columns)

Colunas disponíveis no DataFrame:
Index(['Number', 'City', 'Gender', 'Age', 'Income', 'Illness'], dtype='object')

**21 - Defina a coluna 'Number' como o índice do dataframe. Em seguida, exiba do segundo até o quinto registro a partir do posicionamento.**

In [29]:
df.set_index('Number', inplace=True)
print("Registros do segundo ao quinto a partir do posicionamento:")
print(df.iloc[1:5])

Registros do segundo ao quinto a partir do posicionamento:
          City Gender  Age   Income Illness
Number
2       Dallas   Male   54  45084.0      No
3       Dallas   Male   42  52483.0      No
4       Dallas   Male   40  40941.0      No
5       Dallas   Male   46  50289.0      No

22 - Desta vez, exiba os registros com Number variando de 2 até 5 a partir do próprio rótulo Number.

In [30]:
print("Registros onde o índice 'Number' varia de 2 até 5:")
print(df.loc[2:5])

Registros onde o índice 'Number' varia de 2 até 5:
          City Gender  Age   Income Illness
Number
2       Dallas   Male   54  45084.0      No
3       Dallas   Male   42  52483.0      No
4       Dallas   Male   40  40941.0      No
5       Dallas   Male   46  50289.0      No

23 - Qual a cidade e o gênero da pessoa com a maior renda (Income)?

In [32]:
max_income_row = df.loc[df['Income'].idxmax()]
cidade = max_income_row['City']
genero = max_income_row['Gender']
print(f"A pessoa com a maior renda tem gênero '{genero}' e mora na cidade de '{cidade}'.")

A pessoa com a maior renda tem gênero 'Male' e mora na cidade de 'Mountain View'.

24 - Quantas pessoas moram na cidade de Dallas?

In [33]:
count_dallas = df[df['City'] == 'Dallas'].shape[0]
print(f"O número de pessoas que moram na cidade de Dallas é: {count_dallas}")

O número de pessoas que moram na cidade de Dallas é: 19707

25 - Qual a idade média das pessoas que estão doentes? Utilize o atributo Illness para obter essa informação.

In [35]:
doentes = df[df['Illness'] == 'Yes']
idade_media_doentes = doentes['Age'].mean()
print(f"A idade média das pessoas que estão doentes é: {idade_media_doentes:.2f} anos")

A idade média das pessoas que estão doentes é: 45.02 anos

26 - Quantas pessoas tem um salário anual maior que R$ 30000?

In [36]:
salario_referencia = 30000
count_salario_maior_30000 = df[df['Income'] > salario_referencia].shape[0]
print(f"O número de pessoas com salário anual maior que R$ {salario_referencia:.2f} é: {count_salario_maior_30000}")

O número de pessoas com salário anual maior que R$ 30000.00 é: 148218

27 - Quantas pessoas estão doentes?

In [37]:
count_pessoas_doentes = df[df['Illness'] == 'Yes'].shape[0]
print(f"O número de pessoas que estão doentes é: {count_pessoas_doentes}")

O número de pessoas que estão doentes é: 12139

28 - Quantas pessoas estão doente e apresentam renda (Income) menor que 35000 ou maior que 50000?

In [38]:
renda_minima = 35000
renda_maxima = 50000
count_pessoas_doentes_renda = df[(df['Illness'] == 'Yes') & ((df['Income'] < renda_minima) | (df['Income'] > renda_maxima))].shape[0]
print(f"O número de pessoas que estão doentes e têm renda menor que R$ {renda_minima:.2f} ou maior que R$ {renda_maxima:.2f} é: {count_pessoas_doentes_renda}")

O número de pessoas que estão doentes e têm renda menor que R$ 35000.00 ou maior que R$ 50000.00 é: 11386

29 - Mostre os registros que apresentam a menor idade encontrada e uma renda entre 40000 e 42000.

In [39]:
menor_idade = df['Age'].min()
renda_minima = 40000
renda_maxima = 42000
registros_filtrados = df[(df['Age'] == menor_idade) & (df['Income'] >= renda_minima) & (df['Income'] <= renda_maxima)]
print("Registros com a menor idade encontrada e renda entre R$ 40.000 e R$ 42.000:")
print(registros_filtrados)

Registros com a menor idade encontrada e renda entre R$ 40.000 e R$ 42.000:
                   City  Gender  Age   Income Illness
Number
2092             Dallas    Male   25  41013.0      No
2682             Dallas  Female   25  40075.0      No
2709             Dallas  Female   25  40899.0      No
5280             Dallas  Female   25  41365.0      No
5640             Dallas    Male   25  40313.0      No
6964             Dallas    Male   25  41654.0      No
7675             Dallas  Female   25  41288.0      No
7931             Dallas    Male   25  41630.0      No
8653             Dallas  Female   25  41561.0      No
8765             Dallas  Female   25  41975.0      No
9776             Dallas  Female   25  41612.0      No
9956             Dallas  Female   25  41444.0      No
10181            Dallas  Female   25  40761.0      No
10740            Dallas    Male   25  40467.0      No
13564            Dallas  Female   25  40076.0      No
14607            Dallas  Female   25  40363.0      No
16403            Dallas  Female   25  40389.0      No
18191            Dallas  Female   25  40795.0      No
18503            Dallas    Male   25  41241.0      No
128932  Washington D.C.  Female   25  40476.0      No

30 - Mostre os registros referentes a cidade de Dallas que apresentam a maior idade e que estão doentes.

In [40]:
dallas_doentes = df[(df['City'] == 'Dallas') & (df['Illness'] == 'Yes')]
maior_idade_dallas_doentes = dallas_doentes['Age'].max()
registros_filtrados = dallas_doentes[dallas_doentes['Age'] == maior_idade_dallas_doentes]
print("Registros referentes à cidade de Dallas que apresentam a maior idade e estão doentes:")
print(registros_filtrados)

Registros referentes à cidade de Dallas que apresentam a maior idade e estão doentes:
          City  Gender  Age   Income Illness
Number
1564    Dallas  Female   65  38193.0     Yes
2379    Dallas    Male   65  67526.0     Yes
3318    Dallas    Male   65  48022.0     Yes
3924    Dallas    Male   65  59748.0     Yes
4359    Dallas  Female   65  34712.0     Yes
6074    Dallas  Female   65  45253.0     Yes
7284    Dallas    Male   65  54156.0     Yes
7587    Dallas    Male   65  45705.0     Yes
10518   Dallas    Male   65  32516.0     Yes
11236   Dallas  Female   65  48395.0     Yes
13877   Dallas    Male   65  42107.0     Yes
14437   Dallas  Female   65  20732.0     Yes
14711   Dallas  Female   65  34991.0     Yes
15663   Dallas  Female   65  35688.0     Yes
15866   Dallas    Male   65  36590.0     Yes
16224   Dallas  Female   65  56795.0     Yes
16487   Dallas    Male   65  56236.0     Yes
17728   Dallas  Female   65  30468.0     Yes
17788   Dallas    Male   65  40675.0     Yes
18498   Dallas  Female   65  56754.0     Yes